@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	min-width: 0;
}

::-webkit-inner-spin-button {
	display: none;
}

@media (max-width: 768px) {
	.queryFooterBlog {
		padding-left: 0.75rem;
		justify-content: left;
	}

	.accountButton {
		width: 100%;
	}

}





