@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	min-width: 0;
}

::-webkit-inner-spin-button {
	display: none;
}

.error {
	color: #EF4444;
	display: block;
	font-size: 0.9em;
	margin: 5px 0 0 5px;
	}
	

@media (max-width: 768px) {

	.mainHome {
		height: 125vh;
	}

	.homeBlogue {
		display: flex;
		flex-direction: column;
	}

	.libraryPage {
		display: flex;
		flex-direction: column;
	}

	.queryFooterBlog {
		padding-left: 0.75rem;
		justify-content: left;
	}

	.accountButton {
		width: 100%;
	}

	.cardProd {
		width: 21.5rem;
	}

}





